{% load staticfiles %}
{% include "other-header.html" %}
	<!-- Navi  -->
{% include "leftlist.html" %}
	<!-- /. NAV SIDE  -->
	<div id="page-wrapper">
	    <div class="header"> 
		<h1 class="page-header">域名信息收集<small> 邮箱,域名所属人,曾解析ip.</small></h1>                      
	    </div>
	   <!-- /. 内容代码块 --> 
	   <!-- *****************************
	   **********************************
	   **********************************
	   **********************************
	   *******************************-->       
	    <!-- /. 内容代码块 -->
	    <div id="page-inner"> 
		<footer><p>版权所有 &copy; 2016.爱客仕网络科技有限公司.</p></footer>
	    </div>
	</div>
    </div>
{% include "footer.html" %}