{% load staticfiles %}
<nav class="navbar-default navbar-side" role="navigation">
    <div class="sidebar-collapse">
        <ul class="nav" id="main-menu">

            <li>
                <a href="index.html"><i class="fa fa-dashboard"></i> 控制面板</a>
            </li>
            <li>
                <a href="tool-nmap.html"><i class="fa fa-desktop"></i> Nmap</a>
            </li>
            <li>
                <a href="web-finger.html"><i class="fa fa-fw fa-file"></i> 网站指纹识别</a>
            </li>
            <li>
                <a href="domain-info.html"><i class="fa fa-bar-chart-o"></i> 域名信息收集</a>
            </li>
            <li>
                <a href="common-exp.html"><i class="fa fa-bar-chart-o"></i> 通用EXP检测</a>
            </li>
            <li>
                <a href="second-domain.html"><i class="fa fa-qrcode"></i> 二级域名扫描</a>
            </li>        
            <li>
                <a href="web-dirs.html"><i class="fa fa-table"></i> 网站目录扫描</a>
            </li>
            <li>
                <a href="tool-sqlmap.html"><i class="fa fa-edit"></i> SQLMap</a>
            </li>
            <li>
                <a href="api-md5.html"><i class="fa fa-fw fa-file"></i> MD5破解</a>
            </li>
            <li>
                <a href="tool-hydra.html"><i class="fa fa-fw fa-file"></i> 暴力破解</a>
            </li>
            <li>
                <a href="#"><i class="fa fa-sitemap"></i>常用链接<span class="fa arrow"></span></a>
                <ul class="nav nav-second-level">
                    <li>
                       <a target="_blank" href="http://xss.jozxing.cc">大叔的XSS平台</a>
                    </li>
                    <li>
                       <a target="_blank" href="http://xss.jozxing.cc">大叔的XSS平台</a>
                    </li>
                    <li>
                       <a target="_blank" href="http://zone.jozxing.cc">未公开社区</a>
                    </li>
                </ul>
            </li>
        </ul>
    </div>
</nav>