{% load staticfiles %}
{% include "other-header.html" %}
	<!-- Navi  -->
{% include "leftlist.html" %}
	<!-- /. NAV SIDE  -->
	<div id="page-wrapper">
	    <div class="header"> 
		<h1 class="page-header">二级域名扫描<small> 穷举所有二级域名信息.</small></h1>                     
	    </div>
	    <div id="page-inner"> 
	   <!-- /. 内容代码块 --> 
	   <!-- *****************************
	   **********************************
	   **********************************
	   **********************************
	   *******************************-->       
	    <!-- /. 内容代码块 -->
<div class="panel panel-default">
<div class="panel-heading">
Console：
</div>        							  
<div class="panel-body"> 
<div class="alert alert-success">
<strong>{{hello}}</strong>
</div>
</div>
</div>
		<footer><p>版权所有 &copy; 2016.爱客仕网络科技有限公司.</p></footer>
	    </div>
	</div>
    </div>
{% include "footer.html" %}