{% load staticfiles %}
{% include "other-header.html" %}
        <!-- Navi  -->
{% include "leftlist.html" %}
        <!-- /. NAV SIDE  -->
        <div id="page-wrapper">
            <div class="header"> 
                <h1 class="page-header">Nmap<small> 服务器信息检测收集工具.</small></h1>                         
            </div>
           <!-- /. 内容代码块 --> 
           <!-- *****************************
           **********************************
           **********************************
           **********************************
           *******************************-->       
            <!-- /. 内容代码块 -->
            <div id="page-inner"> 
                <footer><p>版权所有 &copy; 2016.爱客仕网络科技有限公司.</p></footer>
            </div>
        </div>
    </div>
{% include "footer.html" %}